{{define "content"}}
<p>
  I&#x2019;m currently pursuing a Master of Science in Computer Science at the Baskin School of Engineering (BSOE) at the University of California - Santa Cruz. My Masters thesis is on novel transferable geometric GNN potentials for dsDNA dynamics.
</p>
<p>
  Previously I was a Infrastructure Intern at <a href="https://github.com/avitai">Avitai Bio</a>. I also built
  <a href="https://github.com/tahashafiei/Opentypist">Opentypist</a>, a Real-time local AI ghost-text autocomplete for macOS.
</p>
<p>Outside of work, I enjoy eating sugary sweets, doodling, photography, and being bad at bouldering.</p>
{{end}}
